.projects {
  min-height: 100vh;
  padding: 6rem 2rem 4rem;
}

.projects-container {
  width: 65%;
  margin: 0 auto;
}

.projects-grid {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-top: 2rem;
  width: 90%;
  margin-inline: auto;
}

@media (max-width: 1280px) {
  .projects-container {
    width: 90%;
  }
}

@media (max-width: 600px) {
  .projects-container {
    width: 100%;
  }
}
