.project-card {
  background-color: var(--color-bg-secondary);
  border-radius: 8px;
  transition: transform 0.3s, box-shadow 0.3s;
  border: 1px solid var(--color-bg-tertiary);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.project-image-container {
  width: 100%;
  aspect-ratio: 16/9;
  overflow: hidden;
  border-bottom: 1px solid var(--color-bg-tertiary);
}

.project-image {
  width: 100%;
  transition: transform 0.3s;
}

.project-content {
  padding: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2rem;
  flex: 1;
}

.project-info-left {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.project-info-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1rem;
  max-width: 55%;
  flex-shrink: 0;
}

.project-card:hover {
  transform: translateY(-2px);
  box-shadow: 0 2px 10px var(--shadow-primary);
}

.project-card h3 {
  color: var(--color-primary);
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.project-description {
  color: var(--color-text-secondary);
  margin-bottom: 0;
  line-height: 1.6;
  margin-top: auto;
}

.project-technologies {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: flex-end;
  cursor: default;
}

.tech-tag {
  background-color: var(--color-bg-tertiary);
  color: var(--color-text-primary);
  padding: 0.3rem 0.6rem;
  border-radius: 4px;
  font-size: 0.75rem;
  display: flex;
  align-items: center;
  gap: 0.4rem;
  transition: transform 0.2s, background-color 0.2s;
}

.tech-tag:hover {
  transform: translateY(-2px);
  background-color: var(--color-bg-primary);
}

.tech-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1em;
  height: 1em;
  object-fit: contain;
}

.tech-name {
  font-weight: 500;
}

.project-links {
  display: flex;
  gap: 1rem;
  margin-top: auto;
}

@media (max-width: 940px) {
  .project-content {
    flex-direction: column;
    gap: 1.5rem;
  }
  
  .project-info-right {
    align-items: flex-start;
    max-width: 100%;
  }

  .project-technologies {
    justify-content: flex-start;
  }
}

@media (max-width: 410px) {
  .project-content {
    gap: 0.8rem;
  }
  .project-technologies {
    gap: 0.4rem;
  }
  .project-technologies .tech-tag {
    font-size: 1rem;
  }
  .project-links {
    flex-direction: column;
    gap: 0.4rem;
  }
}

.project-link {
  color: var(--color-primary);
  text-decoration: none;
  padding: 0.5rem 1rem;
  border: 1px solid var(--color-primary);
  border-radius: 4px;
  transition: background-color 0.3s, color 0.3s;
}

.project-link:hover {
  background-color: var(--color-primary);
  color: var(--color-text-primary);
}
